.beans__content {
    display: flex;
    align-items: center;
    text-align: center;
    justify-content: center;
    padding-bottom: 57px;
}
.beans__text {
    margin-left: 100px;
}

.line {
    display: block;
    margin: 0 auto;
    width: 254px;
    height: 0;
    border: 1px solid #000000;
}